input[type="file"] {
  /* width: 300px; */
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #f8f6f5;
  border-radius: 8px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #262924;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}
